{% extends 'base.html.twig' %}

{% block title %}Wishlist Invitations{% endblock %}

{% block body %}

<style>

.info-text {
    color: #f4f4f4;
    font-size: 14px;
    max-width: 150px;
    text-align: center; 
    width: 100%; 
}
</style>

    <header>
        <div class="user-icon"></div>
        <h1><a href="#">Wishlist Invitations</a></h1>
        <input type="text" class="search-bar" placeholder="Search...">
        <div style="margin-left: 10px; cursor: pointer;">☰</div>
    </header>

    <div class="container">
        {% if invitations|length > 0 %}
            <div class="item-section">
                {% for invitation in invitations %}
                    <div class="wishlist">
                        <h2>
                                Wishlist {{ invitation.id }}
                        </h2>
                        <div class="wishlist-footer">
                            <p>Inviter: {{ invitation.inviter.firstName ?? '' }} {{ invitation.inviter.lastName ?? 'Unavailable' }}</p>
                            <p>Email Inviter :{{invitation.inviter.email ?? 'Unavailable'}} </p>
                        </div>
                        <div class="wishlist-actions">
                            <button title="Accept"><span><a href="{{path('app_accept_invitation', {'id': invitation.id})}}"  >✔</a></span></button>
                            <button title="Delete"><span>🗑️</span></button>
                        </div>
                        <div class="wishlist-items">
                            <div class="user-icon" style="width: 50px; height: 50px;"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="info-text">No invitations found.</p>
        {% endif %}
    </div>

{% endblock %}