{% extends 'base.html.twig' %}

{% block title %}Wishlist Invitations{% endblock %}

{% block body %}
    <header>
        <div class="user-icon"></div>
        <h1><a href="#">Wishlist Invitations</a></h1>
        <input type="text" class="search-bar" placeholder="Search...">
        <div style="margin-left: 10px; cursor: pointer;">☰</div>
    </header>

    <div class="container">
        {% if invitations|length > 0 %}
            <div class="item-section">
                {% for invitation in invitations %}
                    <div class="wishlist">
                        <h2>
                            <a href="{{ path('app_invitation_show', {'id': invitation.id}) }}">
                                Wishlist {{ invitation.id }}
                            </a>
                        </h2>
                        <div class="wishlist-footer">
                            <p>Inviter: {{ invitation.inviter.firstName ?? '' }} {{ invitation.inviter.lastName ?? 'Unavailable' }}</p>
                            <p>Email Inviter :{{invitation.inviter.email ?? 'Unavailable'}} </p>
                        </div>
                        <div class="wishlist-actions">
                            <button title="Accept"><span>✔</span></button>
                            <button title="Delete"><span>🗑️</span></button>
                        </div>
                        <div class="wishlist-items">
                            <div class="user-icon" style="width: 50px; height: 50px;"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="info-text">No invitations found.</p>
        {% endif %}
    </div>

    <div class="navbar">
        <button class="add-wishlist-btn">
            <a href="{{ path('app_invitation_new') }}" style="color: white; text-decoration: none;">Create new invitation</a>
        </button>
    </div>
{% endblock %}