{% extends 'base.html.twig' %}

{% block title %}Wishlist index{% endblock %}

{% block body %}
    <h1>Wishlist index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Deadline</th>
                <th>IsDisabled</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for wishlist in wishlists %}
            <tr>
                <td>{{ wishlist.id }}</td>
                <td>{{ wishlist.name }}</td>
                <td>{{ wishlist.deadline ? wishlist.deadline|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ wishlist.isDisabled ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_whishlist_show', {'id': wishlist.id}) }}">show</a>
                    <a href="{{ path('app_whishlist_edit', {'id': wishlist.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_whishlist_new') }}">Create new</a>
{% endblock %}
