{% extends 'base.html.twig' %}

{% block title %}Wishlist{% endblock %}

{% block body %}

    <header>
        <div class="user-icon"></div>
        <div style="display:flex;justify-content:center;align-items:center;"> 
        
        <h1>My wishlists</h1>
        
        </div>
        <input type="text" placeholder="Search…" class="search-bar">
    </header>


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ wishlist.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ wishlist.name }}</td>
            </tr>
            <tr>
                <th>Deadline</th>
                <td>{{ wishlist.deadline ? wishlist.deadline|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IsDisabled</th>
                <td>{{ wishlist.isDisabled ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_wishlist_index') }}">back to list</a>

    <a href="{{ path('app_wishlist_edit', {'id': wishlist.id}) }}">edit</a>

    {{ include('wishlist/_delete_form.html.twig') }}
{% endblock %}
